This Notebook is created to change format of the columns to assit Grafana to create desired Visualizations for the dashboard.

In [1]:
# Import pandas
import pandas as pd

In [2]:
# Load the CSV file into a DataFrame
df = pd.read_csv('/users/nik/downloads/Stock.csv')
df.head()

,Date,Closing Volume,Volume,50-Day Moving Average,200-Day Moving Average
0,01-01-20,6.698408,295689.37230,55.356753,54.001058
1,02-01-20,61.452089,847607.11960,56.107148,54.034503
2,03-01-20,21.911287,804114.07660,55.246507,54.222753
3,04-01-20,47.445713,844474.63390,56.443637,54.207440
4,05-01-20,88.814258,36360.73427,57.048413,53.992278

In [5]:
# info to check the dtype of the columns...
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    2500 non-null   object
 1   Closing Volume          2500 non-null   float64
 2   Volume                  2500 non-null   float64
 3   50-Day Moving Average   2500 non-null   float64
 4   200-Day Moving Average  2500 non-null   float64
dtypes: float64(4), object(1)
memory usage: 97.8+ KB

In [6]:
# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%y')

In [7]:
# checking info again...
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    2500 non-null   datetime64[ns]
 1   Closing Volume          2500 non-null   float64
 2   Volume                  2500 non-null   float64
 3   50-Day Moving Average   2500 non-null   float64
 4   200-Day Moving Average  2500 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 97.8 KB

As we can see we have accomplish the change of data according to the requirements for this timeseries visaulization analysis using Grafana. Now we will export this to the CSV.

In [9]:
# Export the DataFrame to a new CSV file
df.to_csv('/users/nik/downloads/Converted_Stock.csv', index=False)
print("Data exported successfully!")

Data exported successfully!